*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  font-family: 'Montserrat', sans-serif;
}
header{
  display: flex;
  height: 10vh;
  align-items: center;
  justify-content: space-around;
  
}
.logo-container, .nav-links{
  display: flex;
  flex-direction: row;
  
}

.logo-container{
  width: 30%;
  justify-content: space-around;
  height: 10vh;
}
nav{
height: 10vh;
width: 70%;

}
.nav-links{
 list-style: none;
  height: 100%;
  align-items: center;
  margin-left: auto;
  justify-content: space-around;
}

.nav-link{
  font-size: 18px;
  text-decoration: none;
  color: #5f5f79;
  width: 70%;
}

#home{
  display: flex; 
  width: 90%;
  margin: auto;
  min-height: 80vh;
  align-items: center;
}
.introduction{
  flex: 2;
}
.intro-text h1{
  font-size: 44px;
  font-weight: 500;
  background: linear-gradient(to right, #494964, #6f6f89);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.intro-text p{
  margin-top: 5px;
  font-size: 18px;
  color: #585772;
}
.cta{
  padding-top: 50px;
}
.cta-projects{
  border: 2px solid rgb(0, 132, 255);
  background: transparent;
  color: rgb(0, 132, 255);
  width: 150px;
  height: 50px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}
.cover{
  flex: 1;
  display: flex;
  justify-content: center;
  height: 60vh;
}
.cover img{
  height: 100%;
  border-radius: 17px;
  animation:drop 1.5s ease;
}
@keyframes drop {
  0%{
    opacity: 0;
    transform:translateY(-80%)
  }
  100%{
    opacity: 1;
    transform:translateY(0%)
  }
}
@media screen and (max-width: 768px) {
  .logo-container{
    width: 18%;
    margin-left: 2em;
  }
  #home{
   flex-direction: column;
  }
  .introduction{
    margin-top: 5vh;
    text-align: center;

  }
  .cover img{
    height: 75%;
    
  }
  .intro-text h1{
    font-size: 30px;
  }
  .intro-text p{
    font-size: 15px;
  }
  .cta{
    padding: 10px 0px 20px 0px;
  }
  .line{
    width: 25px;
    height: 3px;
    background:black;
    margin: 5px;}
    nav{
      position: relative;
    }
    .burger{
      cursor: pointer;
      top: 50%;
      z-index: 2;
    }

  .nav-links{
    background: #6f6f89;
    position: fixed;
    height:100vh;
    width:100% ;
    flex-direction: column;
    clip-path: circle(50px at 100% -10% );
    -webkit-clip-path: circle(50px at 90% -10% );
    transition: all 1s ease-out
  }
  .nav-links.open{
    clip-path: circle(1000px at 100% -10% );
    -webkit-clip-path: circle(1000px at 90% -10% );
  }
  .nav-link{
    color: white;
  }
}